* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
/*  Header  */
header {
    display: flex;
    align-items: center;
    height: 10%;
    padding: 10px;
    background-color: #86C232;
}

#nav-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-left: 35px;
}

#navbar {
    display: flex;
    width: 50%;;
    margin-left: auto;
    justify-content: space-around;
    margin-right: 25px;
    padding-top: 5px;
}

.nav-sub-heading:hover {
    cursor: pointer;
    text-shadow: 2px 2px 4px #f3eaea;
}


/* main */

main {
    height: auto;
    text-align: center;
}



/* Education */

/* TimeLine */

  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 10px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    color: white;
    position: relative;
    border-radius: 6px;
    background-color: #61892F;
  }
  
  .content p {
      font-size: 25px;
      color: #474B4F;
  }
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }



/* Skills */

.skills-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 350px;
    width: 700px;
    min-width: 200px;
    margin: 20px auto 0;
}

.skill {
    height: 50px;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
}

.skill>div {
    border-radius: 10px;
    height: 98%;
}

/* Section Heading */

.section-heading {
    color: white;
    height: 50%;
    padding: 25px;
    font-size: xx-large;
    border-bottom: 5px dashed #6B6E70;
}


/* Color Pallette */

.black-background {
    background-color: #222629;
}

.green-text {
    color: #61892F;
}

.grey-text {
    color: #6B6E70;
}

.lightgreen-text {
    color: #86C232;
}

.ninetypercent {
    width: 90%;
    background-color: rgb(255, 145, 0);
}

.eightypercent {
    width: 80%;
    background-color: lightcoral;
}

.seventypercent {
    width: 70%;
    background-color: lightpink;
}

.fortypercent {
    width: 40%;
    background-color: mediumslateblue;
}

.sixtyfivepercent {
    width: 65%;
    background-color: royalblue;
}

.ninetyfivepercent {
    width: 95%;
    background-color: skyblue;
}