* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
/*  Header  */
header {
    display: flex;
    align-items: center;
    height: 10%;
    padding: 10px;
    background-color: #86C232;
}

#nav-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-left: 35px;
}

#navbar {
    display: flex;
    width: 50%;;
    margin-left: auto;
    justify-content: space-around;
    margin-right: 25px;
    padding-top: 5px;
}

.nav-sub-heading:hover {
    cursor: pointer;
    text-shadow: 2px 2px 4px #f3eaea;
}


/*  Main  */

main {
    display: flex;
    flex-direction: column;
    height: 90.6%;
    text-align: center;
    justify-content: center;
}

h1 {
    color: white;
}

/* Icons */
#icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    height: 25%;
    width: 48%;
}

i {
    font-size: xx-large;
    margin-right: 10px;
}

.contactdetails {
    font-size: xx-large;
}

#linkedin {
    color: rgb(125, 125, 230);
}

#twitter {
    color: cyan;
}

#facebook {
    color: rgb(81, 81, 248);
}

#instagram {
    color: rgb(175, 21, 46);
}

#gmail {
    color: crimson
}

/* Color Pallette */

.black-background {
    background-color: #222629;
}

.green-text {
    color: #61892F;
}

.grey-text {
    color: #6B6E70;
}

.lightgreen-text {
    color: #86C232;
}

.ninetypercent {
    width: 90%;
    background-color: rgb(255, 145, 0);
}


/* Color Pallette */

.black-background {
    background-color: #222629;
}

.green-text {
    color: #61892F;
}

.grey-text {
    color: #6B6E70;
}
