* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}
/*  Header  */
header {
    display: flex;
    align-items: center;
    height: 10%;
    padding: 10px;
    background-color: #86C232;
}

#nav-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-left: 35px;
}

#navbar {
    display: flex;
    width: 50%;;
    margin-left: auto;
    justify-content: space-around;
    margin-right: 25px;
    padding-top: 5px;
}

.nav-sub-heading:hover {
    cursor: pointer;
    text-shadow: 2px 2px 4px #f3eaea;
}

/*  Main  */

main {
    height: 89.9%;
    text-align: center;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    height: 90%;
}

  
/* Add some padding inside the card container */
.container {
    height: 35%;
    width: 30%;
    margin-top: 3%;
    padding: 2px 16px;
}

img {
    height: 100%;
    width: 100%;
}

/* Color Pallete */
.black-background {
    background-color: #222629;
}

.green-text {
    color: #61892F;
}

.grey-text {
    color: #6B6E70;
}
