* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}
/*  Header  */
header {
    display: flex;
    align-items: center;
    height: 10%;
    padding: 10px;
    background-color: #86C232;
}

#nav-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-left: 35px;
}

#navbar {
    display: flex;
    width: 50%;;
    margin-left: auto;
    justify-content: space-around;
    margin-right: 25px;
    padding-top: 5px;
}

.nav-sub-heading:hover {
    cursor: pointer;
    text-shadow: 2px 2px 4px #f3eaea;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89.9%;
    /*background: url('../images/background.jpg');*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 50px;
}

#info-container span{
    word-wrap: break-word;
}

#info-container #name{
    font-size: xx-large;
    color: white;
    background-clip: text;
}
#info-container #designation{
    font-size: x-large;
    color: #61892F;
}

#profile-picture {
    border: 2px solid white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url('../images/dp2.jpg');
    background-size: 100% 100%;
}

#shortintro {
    line-height: 25px;
    width: 60%;
    color: #9fa8ad;
}


/* Color Pallette */

.black-background {
    background-color: #222629;
}

.green-text {
    color: #61892F;
}

.grey-text {
    color: #6B6E70;
}
